.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/*------------------------index.html-----------------------------*/

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  min-height: 545px;
  margin-bottom: 80px;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding: 0;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus,
.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header-logo {
  margin-top: 49px;
  margin-right: 202px;
}

.studio-link {
  margin-right: 47px;
}

.clients-link {
  margin-right: 48px;
}

.catalog-link {
  margin-right: 45px;
}

.contacts-link {
  margin-right: 284px;
}

.basket-link {
  position: relative;
}

.basket-link::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 54px;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.studio-link-color,
.catalog-link-color {
  border-bottom: 2px solid #fb565a;
}

.services {
  margin-bottom: 162px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item-text {
  margin: 0;
  padding: 0;
  width: 245px;
  margin-bottom: 30px;
}

.services-item-image,
.services-item h3 {
  margin: 0;
  padding: 0;
}

.services-item-image {
  margin-bottom: 18px;
}

.services-item h3 {
  margin-bottom: 16px;
}

.web-site {
  margin-right: 100px;
}

.application {
  margin-right: 100px;
}

.services-list {
  list-style: none;

}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: initial;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  padding-left: 38px;
  padding-right: 39px;
  min-height: 50px;
}

.button-color-red {
  background-color: #fb565a;
}

.button-color-green {
  background-color: #00ca74;
}

.button-color-yellow {
  background-color: #efc84a;
}

.button-color-red:hover {
  background-color: #e74246;
}

.button-color-red:focus,
.button-color-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-color-green:hover {
  background-color: #00bc6c;
}

.button-color-green:focus,
.button-color-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-color-yellow:hover {
  background-color: #eab534;
}

.button-color-yellow:focus,
.button-color-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.index-columns {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px;
}

/*.index-columns,*/
/*.our-statistic {*/
/*  border: 1px solid red;*/
/*}*/

.our-studio {
  width: 650px;
}

.order-development {
  margin: 0;
  padding: 0;
}

.index-columns h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: initial;
}

.index-columns p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: initial;
}

.index-columns h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.order-development-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: initial;
  list-style: none;
}

.our-statistic {
  width: 360px;
}

.our-statistic-numbers {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-statistic-skills {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-statistic-rating {
  font-size: 45px;
  line-height: 40px; /*временно, нужно 10px*/
  font-weight: 700;
}

.our-statistic-priorities {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
}

.brands-logo-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 126px;
}

.button-contacts {
  background-color: #fb565a;
  padding-left: 45px;
  padding-right: 45px;
}

.main-footer-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
  color: #666666;
}

.footer-social-items {
  list-style: none;
}

.footer-social-items a {
  color: #000000;
}

.footer-friend b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: initial;
}

.footer-friend p {
  line-height: 22px;
  font-weight: 400;
  text-transform: initial;
}

.social-friend {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.footer-social-items {
  display: flex;
}

.footer-friend p {
  color: #444444;
}

.modal {
  display: none; /*POPUP*/
}

/*------------------------catalog.html-----------------------------*/

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  text-transform: initial;
}

.main-header-catalog {
  min-height: 355px;
}

.filter-button {
  background-color: #eeeeee;
  color: #000000;
  width: 250px;
  height: 50px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:focus,
.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.main-container {
  display: flex;
}

.catalog-item {
  margin: 20px;
  list-style: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.filter-items {
  list-style: none;
}
