.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-header {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.navigation {
  background-color: #eeeeee;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus,
.main-header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header-logo {
  margin-top: 49px;
  margin-right: 202px;
}

.studio-link {
  margin-right: 47px;
}

.clients-link {
  margin-right: 48px;
}

.catalog-link {
  margin-right: 45px;
}

.contacts-link {
  margin-right: 284px;
}

.basket-link {
  position: relative;
}

.basket-link::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.site-navigation,
.basket-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::before {
  content: "";
  position: absolute;
  right: 1px;
  bottom: -11px;
  left: 1px;
  height: 2px;
  background-color: #fb565a;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 17px;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-list {
  margin: 0;
  padding: 0;
  margin-top: -10px;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 81px 0;
}

#slider-iphone:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#slider-imac:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#slider-ipad:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#slider-iphone:checked ~ .slider-controls .slider-controls-item-iphone::before,
#slider-imac:checked ~ .slider-controls .slider-controls-item-imac::before,
#slider-ipad:checked ~ .slider-controls .slider-controls-item-ipad::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item:nth-child(1) {
  background-image: url(../img/slide-iphone.png);
  background-repeat: no-repeat;
  background-position: 432px 18px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/slide-imac.png);
  background-repeat: no-repeat;
  background-position: 496px 2px;
}

.slider-item:nth-child(3) {
  background-image: url(../img/slide-ipad.png);
  background-repeat: no-repeat;
  background-position: 402px 21px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 29px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: initial;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: initial;
  color: #283136;
}

.services {
  margin-bottom: 105px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.services-item-text {
  margin: 0;
  padding: 0;
  width: 245px;
  margin-bottom: 33px;
}

.services-item-image,
.services-item h3 {
  margin: 0;
  padding: 0;
}

.services-item-image {
  margin-bottom: 18px;
}

.services-item h3 {
  margin-bottom: 16px;
}

.web-site {
  margin-right: 100px;
}

.application {
  margin-right: 100px;
}

.services-list {
  list-style: none;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.services-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: initial;
}

.button {
  display: block;
  width: 240px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  background-color: #fb565a;
}

.button-color-red,
.button-color-green,
.button-color-yellow {
  width: 160px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.button-color-red {
  background-color: #fb565a;
}

.button-color-green {
  background-color: #00ca74;
}

.button-color-yellow {
  background-color: #efc84a;
}

.button-color-red:hover {
  background-color: #e74246;
}

.button-color-red:focus,
.button-color-red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.button-color-green:hover {
  background-color: #00bc6c;
}

.button-color-green:focus,
.button-color-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.button-color-yellow:hover {
  background-color: #eab534;
}

.button-color-yellow:focus,
.button-color-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.index-columns {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 141px;
}

.our-studio {
  width: 647px;
  margin-right: 154px;
}

.our-studio h2 {
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: initial;
  width: 650px;
  padding-top: 52px;
  padding-bottom: 33px;
}

.our-studio p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: initial;
  color: #283136;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
}

.our-studio h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

.order-development {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 36px;
}

.order-development li:first-child {
  margin-bottom: 22px;
}

.order-development li:nth-child(2) {
  margin-bottom: 24px;
}

.order-development-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: initial;
  list-style: none;
  color: #283136;
}

.order-development-web::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -34px;
  background-color: #fb565a;
}

.order-development-mobile::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 57px;
  left: -34px;
  background-color: #fb565a;
}

.order-development-slideshow::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 105px;
  left: -34px;
  background-color: #fb565a;
}

.our-statistic {
  letter-spacing: 0.12px;
  margin: 0;
  padding: 0;
}

.our-statistic-rating {
  font-size: 45px;
  line-height: 40px;
  font-weight: 700;
  text-transform: initial;
}

.our-statistic-logo {
  margin-bottom: 31px;
}

.our-statistic p:nth-child(3) {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  margin-bottom: 36px;
}

.our-statistic-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 21px;
}

.our-statistic-numbers span {
  font-size: 25px;
  vertical-align: text-top;
}

.our-statistic-numbers li:first-child {
  margin-right: 23px;
}

.our-statistic-numbers li:nth-child(2) {
  margin-right: 23px;
}

.our-statistic-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-statistic-skills li:first-child {
  margin-right: 22px;
}

.our-statistic-skills li:nth-child(2) {
  margin-right: 23px;
}

.our-statistic-priorities {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
}

.brands-logo-items {
  position: relative;
}

.brands-logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 119px;
  position: relative;
}

.brands-logo-list::before {
  content: "";
  width: 1160px;
  height: 2px;
  top: -63px;
  left: 1px;
  position: absolute;
  border-top: 2px solid #f3f3f3;
}

.brands-logo-list::after {
  content: "";
  width: 1160px;
  height: 2px;
  bottom: -39px;
  left: 1px;
  position: absolute;
  border-bottom: 2px solid #f3f3f3;
}

.brands-logo-htmlacademy {
  margin-left: 32px;
  margin-right: 97px;
}

.brands-logo-items::before {
  content: "";
  width: 2px;
  height: 52px;
  top: 2px;
  left: 280px;
  position: absolute;
  border-right: 2px solid #f3f3f3;
}

.brands-logo-items::after {
  content: "";
  width: 2px;
  height: 52px;
  top: 2px;
  right: 278px;
  position: absolute;
  border-right: 2px solid #f3f3f3;
}

.container-middle {
  position: relative;
}

.container-middle::before {
  content: "";
  width: 2px;
  height: 52px;
  top: 1px;
  right: 599px;
  position: absolute;
  border-right: 2px solid #f3f3f3;
}

.brands-logo-borodinski {
  margin-right: 101px;
  margin-top: -16px;
}

.brands-logo-pink {
  margin-right: 122px;
  margin-top: 3px;
}

.brands-logo-mishka {
  margin-right: 0;
  margin-top: -10px;
}

.brands-logo {
  opacity: 0.2;
}

.brands-logo:hover {
  opacity: 1;
}

.brands-logo:focus,
.brands-logo:active {
  opacity: 0.1;
}

.button-contacts {
  width: 222px;
}

.main-footer-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.main-footer-contacts {
  position: relative;
  bottom: 159px;
  right: 420px;
  background: #ffffff;
  width: 320px;
  height: 308px;
  padding: 49px;
}

.main-footer-contacts h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.main-footer-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -395px;
}

.main-footer-map-marker {
  position: relative;
  width: 231px;
  height: 190px;
  right: -681px;
  bottom: -68px;
}

.contacts {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
  color: #666666;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 3px;
}

.tel {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0.4px;
  color: #666666;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.footer-social-items {
  list-style: none;
}

.footer-social-items a {
  color: #000000;
}

.footer-friend b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: initial;
}

.footer-friend p {
  line-height: 22px;
  font-weight: 400;
  text-transform: initial;
}

.social-friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: -29px;
  margin-bottom: 70px;
}

.footer-social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 127px;
  margin-top: -6px;
  margin-left: -19px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 12px;
}

.social:hover {
  background-color: #e74246;
}

.social:focus,
.social:active {
  background-color: #d7373b;
}

.social:focus path,
.social:active path {
  fill: rgba(213, 121, 121, 1);
}

.footer-friend p {
  margin: 0;
  padding: 0;
  margin-top: 11px;
  color: #444444;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: fixed;
  top: 115px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.button-contacts:checked ~ .modal {
  display: block;
}

.write-us-name-text:invalid,
.write-us-email-text:invalid {
  border: 2px solid #e74246;
}

.modal-write-us {
  bottom: 120px;
  left: 50%;
  width: 960px;
  height: 590px;
  z-index: 100;
  padding-top: 68px;
  padding-bottom: 84px;
  padding-left: 99px;
  padding-right: 100px;
  margin-left: -480px;
}

.modal-write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: initial;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
}

.write-us-name,
.write-us-email,
.write-us-letter {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: initial;
}

.write-us-name-text,
.write-us-email-text,
.write-us-letter-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 197px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: initial;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.write-us-name-text:hover,
.write-us-email-text:hover,
.write-us-letter-text:hover {
  border: 2px solid #b4b9bb;
}

.write-us-name-text:focus,
.write-us-email-text:focus,
.write-us-letter-text:focus,
.write-us-name-text:active,
.write-us-email-text:active,
.write-us-letter-text:active {
  border: 2px solid #000000;
}

.write-us-name {
  margin-right: 40px;
}

.write-us-name input {
  margin-top: 7px;
}

.write-us-email input {
  margin-top: 7px;
}

.write-us-letter textarea {
  margin-top: 9px;
}

.write-us-letter-text {
  width: 760px;
  padding: 13px 12px 13px 17px;
  resize: none;
}

.write-us ul:last-child {
  padding: 0;
  margin: 0;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.write-us-letter {
  margin-bottom: 43px;
}

.button-send {
  width: 260px;
}

.modal-close {
  position: absolute;
  content: "";
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  background: url("../img/close-cross.svg") no-repeat 0 0;
  font-size: 0;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus,
.modal-close:active {
  opacity: 0.1;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  text-transform: initial;
  margin: 0;
  padding: 0;
  margin-top: 68px;
}

.main-header-catalog {
  min-height: 355px;
  margin-bottom: 55px;
}

.filter-button {
  background-color: #eeeeee;
  color: #000000;
  width: 261px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:focus,
.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.main-container-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters {
  margin-right: 52px;
}

.catalog-item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 40px;
  margin-bottom: 34px;
}

.catalog-item-image {
  margin: 0;
  padding: 0;
}

.catalog-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 803px;
  margin-left: 88px;
  margin-bottom: 33px;
}

.catalog-item-image {
  margin: 0;
  width: 360px;
  height: 576px;
}

.sedona-image,
.pink-image,
.borodinski-image,
.mishka-image,
.aplus-image,
.kvast-image {
  margin: 0;
  padding: 0;
  margin-bottom: -8px;
  opacity: 0.12;
}

.sedona-image:hover,
.pink-image:hover,
.borodinski-image:hover,
.mishka-image:hover,
.aplus-image:hover,
.kvast-image:hover {
  opacity: 1;
}

.filter-list {
  list-style: none;
}

.filter-items {
  margin: 0;
  padding: 0;
  border: none;
}

.sorty-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 57px;
  margin-top: 3px;
}

.sorty-filter h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 88px;
  margin-right: 265px;
}

.control-price {
  margin-right: 27px;
}

.control-type {
  margin-right: 26px;
  opacity: 0.3;
}

.control-appointment {
  margin-right: 10px;
  opacity: 0.3;
}

.control-up-down {
  list-style: none;
  margin: 0;
  padding: 0;
}

.control-down,
.control-up {
  position: relative;
}

.control-down a {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 5px;
  left: 37px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-up a {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 5px;
  left: 65px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.control-price:hover,
.control-type:hover,
.control-appointment:hover,
.control-down a:hover,
.control-up a:hover {
  opacity: 0.6;
}

.control-price:active,
.control-type:active,
.control-appointment:active,
.control-down a:active,
.control-up a:active,
.control-price:focus,
.control-type:focus,
.control-appointment:focus,
.control-down a:focus,
.control-up a:focus {
  opacity: 1;
}

.range-filter {
  width: 261px;
  margin-top: 62px;
  margin-bottom: 56px;
}

.range-controls {
  position: relative;
  height: 81px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-left: 21px;
  padding-right: 21px;
  background-color: #eeeeee;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.filter-items legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #eeeeee;
  margin-left: 12px;
}

.max-price {
  text-align: right;
}

.control-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 18px;
}

.control-list a {
  color: #000000;
}

.filter ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: initial;
  color: #283136;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 25px;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 30px;
}

.cost {
  margin-bottom: -13px;
}

.grid-layout {
  margin-bottom: 16px;
}

.feature {
  letter-spacing: 0.9px;
  margin-bottom: 16px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 37px;
}

.filter-option label {
  position: relative;
  cursor: pointer;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -35px;
  background-image: url("../img/radio-off-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -3px;
  left: -35px;
  background-image: url("../img/radio-on-dark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::before,
.filter-input-radio:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: -2px;
  left: -35px;
  background-image: url(../img/checkbox-off-dark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  top: -2px;
  left: -35px;
  background-image: url(../img/checkbox-on-dark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after,
.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:focus + label::after {
  opacity: 1;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 90px;
  margin-bottom: 63px;
}

.pagination-item {
  display: inline-block;
  border: none;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  padding: 11px 20px;
  margin-right: 12px;
  border-radius: 3px;
}

.pagination-item a {
  color: #000000;
}

.pagination-list li:last-child {
  margin-left: -3px;
  padding-left: 79px;
  padding-right: 79px;
}

.pagination-item:hover {
  background-color: #dfdfdf;
}

.pagination-item:focus,
.pagination-item:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
  box-shadow: 0 3px rgba(0, 1, 1, 0.1) inset;
}

.pagination-item a:focus,
.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  border: solid 2px #dbdbdb;
  padding: 9px 17px;
  background-color: #ffffff;
}

.sedona-cost,
.pink-cost,
.borodinski-cost,
.mishka-cost,
.aplus-cost,
.kvast-cost {
  content: "";
  position: relative;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  top: -238px;
  left: 0;
  display: none;
}

.catalog-item-image:hover .sedona-cost,
.catalog-item-image:hover .pink-cost,
.catalog-item-image:hover .borodinski-cost,
.catalog-item-image:hover .mishka-cost,
.catalog-item-image:hover .aplus-cost,
.catalog-item-image:hover .kvast-cost {
  display: block;
}

.cost-app {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 43px;
  padding-right: 67px;
  padding-left: 67px;
}

.cost-app h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  margin-top: -4px;
}

.cost-app h3:hover {
  color: #fb565a;
}

.cost-app h3:focus,
.cost-app h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.cost-app button {
  margin-left: 13px;
}

.cost-app-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
  text-transform: initial;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  width: 227px;
}

.cost-app-text-sedona,
.cost-app-text-borodinski,
.cost-app-text-mishka {
  width: 199px;
  margin-left: 13px;
}

.button-cost {
  width: 200px;
}
